<div class="container">
    <h1 class="title is-3">Sexual Orientation</h1>
    <p style="text-align:justify">The scientifically accurate term for an individual's enduring physical, romantic and/ or emotional attraction to members of the same and/or opposite sex, including lesbian, gay, bisexual, and heterosexual (straight) orientations. Avoid the offensive term "sexual preference," which is used to suggest that being gay, lesbian, or bisexual is voluntary and therefore "curable." People need not have had specific sexual experiences to know their own sexual orientation; in fact, they need not have had any sexual experience at all.</p>
    <br>

    <h1 class="title is-3">Gay</h1>
    <p style="text-align:justify">The adjective used to describe people
    whose enduring physical, romantic, and/
    or emotional attractions are to people of
    the same sex (e.g., gay man, gay people). Sometimes lesbian (n. or adj.) is the preferred term for women. Avoid identifying gay people as "homosexuals" an outdated term considered derogatory and offensive to many lesbian and gay people.</p>
    <br>

    <h1 class="title is-3">Lesbian</h1>
    <p style="text-align:justify">A woman whose enduring physical, romantic, and/or emotional attraction is
    to other women. Some lesbians may prefer to identify as gay (adj.) or as gay women. Avoid identifying lesbians as "homosexuals," a derogatory term (see Offensive Terms to Avoid).</p>
    <br>

    <h1 class="title is-3">Bisexual, Bi</h1>
    <p style="text-align:justify">A person who has the capacity to form enduring physical, romantic, and/ or emotional attractions to those of the same gender or to those of another gender. People may experience this attraction in differing ways and degrees over their lifetime. Bisexual people need not have had specific sexual experiences to be bisexual; in fact, they need not have had any sexual experience at all to identify as bisexual. Do not use a hyphen in the word "bisexual," and only capitalize bisexual when used at the beginning of a sentence.</p>
    <br>

    <h1 class="title is-3">Queer</h1>
    <p style="text-align:justify">An adjective used by some people, particularly younger people, whose sexual orientation is
    not exclusively heterosexual (e.g. queer person, queer woman). Typically, for those who identify as queer, the terms lesbian, gay, and bisexual
    are perceived to be too limiting and/or fraught with cultural connotations they feel don't apply to them. Some people may use queer, or more commonly genderqueer, to describe their
    gender identity and/or gender expression (see non-binary and/or genderqueer below). Once considered a pejorative term, queer has been reclaimed by some LGBT people to describe themselves; however, it is not a universally accepted term even within the LGBT community. When Q is seen at the end of LGBT, it typically means queer and, less often, questioning.</p>
    <br>

    <h1 class="title is-3">LGBTQ</h1>
    <p style="text-align:justify">Acronym for lesbian, gay, bisexual, transgender, and queer. Sometimes, when the Q is seen at the end of LGBT, it can also mean questioning. LGBT and/or GLBT are also often used. The term "gay community" should be avoided, as it does not accurately reflect the diversity of the community. Rather, LGBTQ community is preferred.</p>
    <br>

    <h1 class="title is-3">Intersex</h1>
    <p style="text-align:justify">An umbrella term describing people born with reproductive or sexual anatomy and/or a chromosome pattern that can't be classified as typically male or female. Those variations are also sometimes referred to as Differences of Sex Development (DSD.) Avoid the outdated and derogatory term "hermaphrodite." While some people can have an intersex condition and also identify as transgender, the two are separate and should not be conflated. (For more information, visit interactyouth.org.)</p>
    <br>

    <h1 class="title is-3">Gender Identity</h1>
    <p style="text-align:justify">A person's internal, deeply held sense of their gender. For transgender people, their own internal gender identity does not match the sex they were assigned at birth. Most people have a gender identity of man or woman (or boy or girl). For some people, their gender identity does not fit neatly into one of those two choices (see non-binary and/or genderqueer below.) Unlike gender expression (see below) gender identity is not visible to others.</p>
    <br>

    <h1 class="title is-3">Gender Expression</h1>
    <p style="text-align:justify">External manifestations of gender, expressed through a person's name, pronouns, clothing, haircut, behavior, voice, and/or body characteristics. Society identifies these cues as masculine and feminine, although what is considered masculine or feminine changes over time and varies by culture. Typically, transgender people seek to align their gender expression with their gender identity, rather than the sex they were assigned at birth.</p>
    <br>

    <h1 class="title is-3">Sexual Orientation</h1>
    <p style="text-align:justify">Describes a person's enduring physical, romantic, and/or emotional attraction to another person. Gender identity and sexual orientation are not the same. Transgender people may be straight, lesbian, gay, bisexual, or queer. For example, a person who transitions from male to female and is attracted solely to men would typically identify as a straight woman.</p>
    <br>

    <h1 class="title is-3">Transgender</h1>
    <p style="text-align:justify">An umbrella term for people whose gender identity and/or gender expression differs from what is typically associated with the sex they were assigned at birth. People under the transgender umbrella may describe themselves using one or more of a wide variety of terms - including transgender. Some of those terms are defined below. Use the descriptive term preferred by the person. Many transgender people are prescribed hormones by their doctors to bring their bodies into alignment with their gender identity. Some undergo surgery as well. But not all transgender people can or will take those steps, and a transgender identity is not dependent upon physical appearance or medical procedures.</p>
    <br>

    <h1 class="title is-3">Transsexual</h1>
    <p style="text-align:justify">An older term that originated in the medical and psychological communities. Still preferred by some people who have permanently changed - or seek to change - their bodies through medical interventions, including but not limited to hormones and/or surgeries. Unlike transgender, transsexual is not an umbrella term. Many transgender people do not identify as transsexual and prefer the word transgender. It is best to ask which term a person prefers. If preferred, use as an adjective: transsexual woman or transsexual man.</p>
    <br>

    <h1 class="title is-3">Trans</h1>
    <p style="text-align:justify">Used as shorthand to mean transgender or transsexual - or sometimes to be inclusive of a wide variety of identities under the transgender umbrella. Because its meaning is not precise or widely understood, be careful when using it with audiences who may not understand what it means. Avoid unless used in a direct quote or in cases where you can clearly explain the term's meaning in the context of your story.</p>
    <br>

    <h1 class="title is-3">Cross-dresser</h1>
    <p style="text-align:justify">While anyone may wear clothes associated with a different sex, the term cross-dresser is typically used to refer to men who occasionally wear clothes, makeup, and accessories culturally associated with women. Those men typically identify as heterosexual. This activity is a form of gender expression and not done for entertainment purposes. Cross-dressers do not wish to permanently change their sex or live full-time as women. Replaces the term "transvestite".</p>
    <br>

    <h1 class="title is-3">Transition</h1>
    <p style="text-align:justify">Altering one's birth sex is not a one-step procedure; it is a complex process that occurs over a long period of time. Transition can include some or all of the following personal, medical, and legal steps: telling one's family, friends, and co-workers; using a different name and new pronouns; dressing differently; changing one's name and/or sex on legal documents; hormone therapy; and possibly (though not always) one or more types of surgery. The exact steps involved in transition vary from person to person. Avoid the phrase "sex change".</p>
    <br>

    <h1 class="title is-3">Asexual</h1>
    <p style="text-align:justify">An adjective used to describe people who do not experience sexual attraction (e.g., asexual person). A person can also be aromantic, meaning they do not experience romantic attraction. (For more information, visit asexuality.org.)</p>
    <br>

    <h1 class="title is-3">Heterosexual</h1>
    <p style="text-align:justify">An adjective used to describe people whose enduring physical, romantic, and/ or emotional attraction is to people of the opposite sex. Also straight.</p>
    <br>

    <h1 class="title is-3">Homosexual</h1>
    <p style="text-align:justify">Outdated clinical term considered derogatory and offensive. The Associated Press, New York Times and Washington Post restrict usage of the term.</p>
    <br>
    <i>Glossary by GLAAD, <a href="https://www.glaad.org/reference">https://www.glaad.org/reference</i>
</div>
