
    <% if @errors %>
    <div class="tile is-parent">    
        <p class="tile is-child notification is-danger"><%= @errors %></p>
    <% end %>
    </div>

  <div class="column">
    <div class="box" style="margin: 6em;">    
    <%= form_tag(login_path) do %>
    <div class="field has-text-left">
      <label>Email</label><br>
      <input class="input is primary" type="text" name="email" size="40" ><br>
    </div>
    <div class="field has-text-left">
      <label>Password</label><br>
      <input class="input is primary" type="password" name="password"><br>
    </div>
      <br>
      <div class="control">
        <button class="button is-primary">Login</button>
      </div>
    </div>

    <% end %>
  </div>
</div>
